body {
  margin: 0;
  background: #0d0e0f;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  width: 0.875rem;
  height: 5rem;
  background: lightgreen;
  margin-left: 0.875rem;
  animation: bar-loading 1s infinite alternate;
}

div:nth-child(2) {
  animation-delay: -0.2s;
}

div:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes bar-loading {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
