body {
    background-color: pink;
}

.ghost-canvas {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 100px auto 0 auto;
}

.ghost-body {
    position: absolute;
    height: 27%;
    width: 23%;
    background-color: blue;
    left: 40%;
    top: 33%;
    animation-name: floating;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.ghost-body-copy {
    position: absolute;
    height: 29%;
    width: 21%;
    background-color: blue;
    left: 40%;
    top: 33%;
    z-index: 1;
}

.ghost-head {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -50%;
    background-color: blue;
    border-radius: 89px;
}

.eye-right {
    position: absolute;
    height: 22%;
    width: 20%;
    right: 22%;
    top: 40%;
    background-color: black;
    border-radius: 50%;
}

.eye-left {
    position: absolute;
    height: 22%;
    width: 20%;
    left: 22%;
    top: 40%;
    background-color: black;
    border-radius: 50%;
}

.mouth {
    position: absolute;
    height: 26%;
    width: 24%;
    left: 38%;
    top: 70%;
    background-color: black;
    border-radius: 50%;
    z-index: 2
}

.down-bubble {
    position: absolute;
    height: 55%;
    width: 100%;
    top: 70%;
}

.bubble-1 {
    position: absolute;
    height: 100%;
    width: 25%;
    background-color: blue;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    animation-name: bubble;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.bubble-2 {
    position: absolute;
    height: 100%;
    width: 24%;
    left: 26%;
    background-color: blue;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    animation-name: bubble;
    animation-duration: 3.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.bubble-3 {
    position: absolute;
    height: 100%;
    width: 25%;
    right: 25%;
    background-color: blue;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    animation-name: bubble;
    animation-duration: 3.4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.bubble-4 {
    position: absolute;
    height: 100%;
    width: 25%;
    right: 0;
    background-color: blue;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    animation-name: bubble;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes bubble {
    0% {
        top: 0;
    }
    50% {
        top: 20%;
    }
    100% {
        top: 0;
    }
}

@keyframes floating {
    0% {
        top: 33.3%;
    }
    30% {
        top: 40%;
    }
    50% {
        top: 33%;
    }
    70% {
        top: 25%;
    }
    100% {
        top: 33.3%;
    }
}